In [10]:
import pandas as pd
import numpy as np

bank_df = pd.read_csv('bank.csv', delimiter=';')

In [11]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [20]:
bank_df_people = bank_df[['age','job','marital','education','default','balance','housing','loan']]
bank_df_relationship = bank_df[['contact','day','month','duration','campaign','pdays','previous','poutcome']]
bank_df_y = bank_df[['y']]

In [ ]:
from sqlalchemy import create_engine


# engine = create_engine('postgresql://postgres:password$$@localhost:5432/final_project')

In [32]:
bank_df_people.to_sql("individual_statistics", con=engine, if_exists="replace",
                      index=False)

521

In [33]:
bank_df_relationship.to_sql("individual_relationship", con=engine, if_exists="replace",
                            index=False)

521

In [34]:
bank_df_y.to_sql("individual_outcome", con=engine, if_exists="replace",
                 index=False)

521