In [10]:
import pandas as pd
import numpy as np


bank_df = pd.read_csv('bank.csv',delimiter=";")
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [11]:
# preprocessing (i went ahead and did all of it even though we will likely just
# use the later ones that deal with outcome, like contact, day, month, duration,
# campaign, pdays, previous, poutcome, and then y (whether or not the client
# subscribed to a term deposit)

jobs = pd.get_dummies(bank_df['job'])
bank_df = pd.concat([bank_df, jobs], axis=1)
bank_df = bank_df.drop(['job'], axis=1)

marital_status = pd.get_dummies(bank_df['marital'])
bank_df = pd.concat([bank_df, marital_status], axis=1)
bank_df = bank_df.drop(['marital'], axis=1)

education = pd.get_dummies(bank_df['education'])
bank_df = pd.concat([bank_df, education], axis=1)
bank_df = bank_df.drop(['education'], axis=1)

bank_df['default'] = bank_df['default'].map({'no':0, 'yes':1})
bank_df['housing'] = bank_df['housing'].map({'no':0, 'yes':1})
bank_df['loan'] = bank_df['loan'].map({'no':0, 'yes':1})

contact = pd.get_dummies(bank_df['contact'])
bank_df = pd.concat([bank_df, contact], axis=1)
bank_df = bank_df.drop(['contact'], axis=1)

bank_df['month'] = bank_df['month'].map({'jan':1, 'feb':2,
                                         'mar':3, 'apr':4,
                                         'may':5,'jun':6,
                                         'jul':7, 'aug':8,
                                         'sep':9,'oct':10,
                                         'nov':11,'dec':12})

poutcome = pd.get_dummies(bank_df['poutcome'])
bank_df = pd.concat([bank_df, poutcome], axis=1)
bank_df = bank_df.drop(['poutcome'], axis=1)

# bank_df['y'] = bank_df['y'].map({'no':0, 'yes':1})


bank_df.head(10)

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,...,secondary,tertiary,unknown,cellular,telephone,unknown,failure,other,success,unknown
0,30,0,1787,0,0,19,10,79,1,-1,...,False,False,False,True,False,False,False,False,False,True
1,33,0,4789,1,1,11,5,220,1,339,...,True,False,False,True,False,False,True,False,False,False
2,35,0,1350,1,0,16,4,185,1,330,...,False,True,False,True,False,False,True,False,False,False
3,30,0,1476,1,1,3,6,199,4,-1,...,False,True,False,False,False,True,False,False,False,True
4,59,0,0,1,0,5,5,226,1,-1,...,True,False,False,False,False,True,False,False,False,True
5,35,0,747,0,0,23,2,141,2,176,...,False,True,False,True,False,False,True,False,False,False
6,36,0,307,1,0,14,5,341,1,330,...,False,True,False,True,False,False,False,True,False,False
7,39,0,147,1,0,6,5,151,2,-1,...,True,False,False,True,False,False,False,False,False,True
8,41,0,221,1,0,14,5,57,2,-1,...,False,True,False,False,False,True,False,False,False,True
9,43,0,-88,1,1,17,4,313,1,147,...,False,False,False,True,False,False,True,False,False,False

# Oversampling