In [2]:
import pandas as pd
bank_df_full = pd.read_csv('bank_df_full.csv')
bank_df_full

,age,default,balance,housing,loan,day,month,duration,campaign,pdays,...,secondary,tertiary,unknown.1,cellular,telephone,unknown.2,failure,other,success,unknown.3
0,30,0,1787,0,0,19,10,79,1,-1,...,False,False,False,True,False,False,False,False,False,True
1,33,0,4789,1,1,11,5,220,1,339,...,True,False,False,True,False,False,True,False,False,False
2,35,0,1350,1,0,16,4,185,1,330,...,False,True,False,True,False,False,True,False,False,False
3,30,0,1476,1,1,3,6,199,4,-1,...,False,True,False,False,False,True,False,False,False,True
4,59,0,0,1,0,5,5,226,1,-1,...,True,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,0,-333,1,0,30,7,329,5,-1,...,True,False,False,True,False,False,False,False,False,True
4517,57,1,-3313,1,1,9,5,153,1,-1,...,False,True,False,False,False,True,False,False,False,True
4518,57,0,295,0,0,19,8,151,11,-1,...,True,False,False,True,False,False,False,False,False,True
4519,28,0,1137,0,0,6,2,129,4,211,...,True,False,False,True,False,False,False,True,False,False
4520,44,0,1136,1,1,3,4,345,2,249,...,False,True,False,True,False,False,False,True,False,False